<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="${appLabel}"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity
            android:name="org.stierms.zigqueen.oex.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="intent.chess.provider.ENGINE" />
            </intent-filter>
            <meta-data
                android:name="chess.provider.engine.authority"
                android:value="${applicationId}.EngineProvider" />
        </activity>
        <provider
            android:name="org.stierms.zigqueen.oex.ZigqueenEngineProvider"
            android:authorities="${applicationId}.EngineProvider"
            android:exported="true" />
    </application>
</manifest>
